.container {
  display: flex;
  flex-direction: column;

  border: 1px solid #e7e7e7;
}

.row {
  flex: 1;
  display: flex;
  border: none;
  font-size: 14px;
}

.row :nth-child(1) {
  flex: 5;
  justify-content: flex-start;
}

.row :nth-child(2) {
  flex: 1;
  max-width: 5rem;
  min-width: 2rem;
}

.row :nth-child(n + 3) {
  flex: 1;
  max-width: 5rem;
  min-width: 3rem;
}

.th {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375rem;
  border: none;
}

.td {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375rem;
  border: none;
  border-top: 1px solid #e7e7e7;
}

@media screen and (max-width: 640px) {
  .row {
    font-size: 12px;

    > th,
    td {
      padding: 0.375rem 0.25rem;
    }
  }
}
